.sidebar {
    flex: 0.35;
    display: flex;
    flex-direction: column;
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.sidebar__headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar__headerRight > .MuiIconButton-root {
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar__search {
    height: 39px;
    padding: 10px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;    
}

.sidebar__searchContainer {
    display: flex;
    align-items: center;
    background: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
    padding: 10px;
    color: gray;
}

.sidebar__searchContainer > input {
    border: none;
    margin-left: 10px;
    padding: 10px 0;
    flex: 1;
}

.sidebar__searchContainer > input:focus {
    outline-width: 0;
}

.sidebar__body {
    background-color: white;
    overflow-y: scroll;
    flex: 1;
}

.sidebarChat {
    padding: 20px;
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
    align-items: center;
}

.sidebarChat:hover {
    background-color: #ebebeb;
}

.sidebarChat.isSelected {
    background-color: #ebebeb;
}

.sidebarChat__info {
    margin-left: 15px;
}

.sidebarChat__info > h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebar__body a {
    text-decoration: none !important;
    color: black;
}

